<h1>Tasks#index</h1>
<p>Tasks go here:</p>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <p><strong><%= task.title %></strong></p>
      <p><%= task.details %></p>
    </li>
  <% end %>
</ul>

<%= link_to "New Task", new_task_path %>