<%# <h1>Welcome to your To Do list</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<%= link_to "Look at your tasks", tasks_path %>
<div class="jumbotron bg-cover">
  <div class="container py-5 text-center">
    <h1 class="display-4 font-weight-bold">ToDo List Application</h1>
    <a href="#" role="button" class="btn btn-primary px-5">See All Features</a>
  </div>
</div>

<div class="container py-5">
  <h2 class="h3 font-weight-bold">The Benefits of Using a To Do List</h2>
    <div class="row">
      <div class="col-lg-10 mb-4">
        <p class="text-muted">
          <strong class="font-weight-bold text-dark"> Improves your memory: </strong> A to do list acts as an external memory aid. It’s only possible to hold a few pieces of information at one time. Keep a to do list and you’ll be able to keep track of everything, rather than just a few of the tasks you need to do. Your to do list will also reinforce the information, which makes it less likely you’re going to forget something.
        </p>
        <p class="text-muted">
          <strong class="font-weight-bold text-dark"> Increases productivity: </strong> A to do list allows you to prioritize the tasks that are more important. This means you don’t waste time on tasks that don’t require your immediate attention. Your list will help you stay focused on the tasks that are the most important.
        </p>
      </div>
      <div class="col-lg-8">
        <p class="text-muted">
          <strong class="font-weight-bold text-dark"> Helps with motivation: </strong> To do lists are a great motivational tool because you can use them to clarify your goals. You can divide your long-term goal into smaller, more achievable short-term goals and as you tick each one off your list, your confidence will increase.
        </p>
      </div>
    </div>
</div>