<div class="header jumbotron bg-cover shadow-sm rounded">
  <div class="container py-5 text-center">
  </div>
</div>

<div class="weclcome-cont container py-5">
  <h2>The Benefits of Using a To Do List</h2>
  <div class="row">
    <div class="col-lg-10 mb-4">
      <p>
        <strong class="font-weight-bold"> Improves your memory: </strong> A to do list acts as an external memory aid. It’s only possible to hold a few pieces of information at one time. Keep a to do list and you’ll be able to keep track of everything, rather than just a few of the tasks you need to do. Your to do list will also reinforce the information, which makes it less likely you’re going to forget something.
      </p>
      <p>
        <strong class="font-weight-bold"> Increases productivity: </strong> A to do list allows you to prioritize the tasks that are more important. This means you don’t waste time on tasks that don’t require your immediate attention. Your list will help you stay focused on the tasks that are the most important.
      </p>
      <p>
        <strong class="font-weight-bold"> Helps with motivation: </strong> To do lists are a great motivational tool because you can use them to clarify your goals. You can divide your long-term goal into smaller, more achievable short-term goals and as you tick each one off your list, your confidence will increase.
      </p>
      <div class="header-btns">
        <%= link_to "Get Started", tasks_path, class:"button-40" %>
      </div>
  </div>
</div>