footer{
  background-color: #F5CAC3;
  height: 80px;
  margin-top: auto;
}

footer a, p {
  text-decoration: none;
  font-size: 16px;
  color: #638078;
}

a:hover{
  text-decoration: none;
  color: #638078;
}