footer{
  background-color: #FDB1A4;
  height: 80px;
  margin-top: auto;
}

footer a, p {
  text-decoration: none;
  font-size: 16px;
  color: #586d67;
}

a:hover{
  text-decoration: none;
  color: #33413d;
}