// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container{
  max-width: 500px;
}
  
li.list-group-item{
  margin: 1px;
}

li a{
  text-decoration: none;
  color: #003468;
}

li a:hover{
  color: #041629;
  text-decoration: none;
}