// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container{
  max-width: 500px;
}

h1{
  margin-top: 15px;
  color: #638078;
  font-family: 'Mochiy Pop One', sans-serif;
}

  
.todos li.list-group-item{
  margin: 5px;
  height: 70px;
  background-color: #FDB1A4;
}

.todos li a{
  text-decoration: none;
  color: #586d67;
  font-size: 20px;
  
}

.todos li a:hover{
  color: #33413d;
  text-decoration: none;
  cursor: pointer;
}

ul{
  padding-bottom: 15px;
}

.new-task-btn{
  background-color: #FDB1A4;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #586d67;
  cursor: pointer;
  flex: 0 0 auto;
  font-size: 20px;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
}

.new-task-btn:hover{
  background-color: #eea89c;
  color: #405a53;
}

.background-img{
  background: asset-url("active.png");
  background-repeat: no-repeat;
  background-position: bottom 0px right 7px;
}