.form-control:focus { 
  border: 2px solid #f2848260;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(245, 197, 221, 0.25);
}

.error-msg {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}

.error-msg {
  color: #D8000C;
  background-color: #FFBABA;
}
