// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.bg-cover {
  background-image: asset-url("microsoft-to-do-featured-image-scaled.jpg");
  background-size: cover;
}

body {
  min-height: 100vh;
}
